<ng-container *ngIf="flights?.length>0">
<table class="display-flights">
    <thead>
        <tr>
            <td>Flight Number</td>
            <td>Origin City</td>
            <td>Departure Time</td>
            <td>Destination City</td>
            <td>Arrival Time</td>
            <td>Carrier</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of flights">
                <tr>
                        <td>{{item.flightNumber}}</td>
                        <td>{{item.origin}}</td>
                        <td>{{item.departure | date:'short'}}</td>
                        <td>{{item.destination}}</td>
                        <td>{{item.arrival | date:'short'}}</td>
                        <td>{{item.carrier}}</td>
                    </tr>
        </ng-container>
    </tbody>
</table>
</ng-container>
