<form (ngSubmit)="clickSubmit()" [formGroup]="searchForm">
<div class="flight-tab">
    
    <div class="persent-one">
         <input type="text" name="origin" class="textboxstyle" id="origin" formControlName="origin" placeholder="From City ">
    </div>
    <div class="persent-one">
         <input type="text" name="destination" class="textboxstyle" id="destination" formControlName="destination" placeholder="To City ">
    </div>
    <div class="persent-one less-per">
      <input type="date" name="date" class="textboxstyle" id="date" formControlName="date" placeholder="Date">
    </div>
    <div class="persent-one">
        <input type="number" placeholder="Flight Number" class="textboxstyle" formControlName="flightNumber" id="flightNumber">
     </div>
     <div >
      <button type="Submit" name="submit"  class="submit" id="srch">Search</button>
   </div>
    
 </div>
 </form>

 <div class="error-section">
  <div class="error-msg">
    <div *ngIf= "triggerValidations && searchForm.get('date').errors?.required">
      Please select Date.
    </div>
    <div *ngIf="triggerValidations && searchForm.get('flightNumber').errors?.required">
        Please enter Flight Number.
    </div>
    <div *ngIf="triggerValidations && searchForm.get('origin').errors?.required">
        Please enter Origin City.
    </div>
    <div *ngIf="triggerValidations && searchForm.get('origin').errors?.pattern">
        Please enter only alphabets for Origin city.
    </div>
    <div *ngIf="triggerValidations && searchForm.get('destination').errors?.required">
        Please enter Destination City.
    </div>
    <div *ngIf="triggerValidations && searchForm.get('destination').errors?.pattern">
        Please enter only alphabets for Destination city.
    </div>
  </div> 
 </div>
